.elementor-70
  .elementor-element.elementor-element-2836a80f
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.7;
}
.elementor-70
  .elementor-element.elementor-element-7515fcbf
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-70
  .elementor-element.elementor-element-3102d61c
  > .elementor-element-populated {
  margin: -50px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-70
  .elementor-element.elementor-element-51643189
  .elementor-spacer-inner {
  height: 640px;
}
.elementor-70
  .elementor-element.elementor-element-51643189
  > .elementor-widget-container {
  background-image: url("contact-_img-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-70
  .elementor-element.elementor-element-5846b151:not(.elementor-motion-effects-element-type-background)
  > .elementor-element-populated,
.elementor-70
  .elementor-element.elementor-element-5846b151
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("contact-_img-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-70
  .elementor-element.elementor-element-5846b151
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.7;
}
.elementor-70
  .elementor-element.elementor-element-5846b151
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-70
  .elementor-element.elementor-element-5846b151
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-70
  .elementor-element.elementor-element-58a95d22
  .elementor-spacer-inner {
  height: 540px;
}
.elementor-70 .elementor-element.elementor-element-42ab8cf6 {
  margin-top: -590px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-70
  .elementor-element.elementor-element-66a2214f
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-70
  .elementor-element.elementor-element-19fe9413
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 30px;
}
.elementor-70
  .elementor-element.elementor-element-19fe9413
  > .elementor-element-populated {
  padding: 90px 15px 100px 40px;
}
.elementor-70
  .elementor-element.elementor-element-36b9ecba
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  font-family: "Lato", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
.elementor-70
  .elementor-element.elementor-element-36b9ecba
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ffffff;
}
.elementor-70
  .elementor-element.elementor-element-36b9ecba
  .elementskit-section-title-wraper
  .elementskit-section-subtitle {
  color: #ffffff;
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin: 0px 0px 15px 0px;
}
.elementor-70
  .elementor-element.elementor-element-36b9ecba
  .elementskit-section-subtitle.elementskit-style-border::before {
  background-color: #c29765;
  width: 40px;
}
.elementor-70
  .elementor-element.elementor-element-36b9ecba
  .elementskit-section-subtitle.elementskit-style-border::after {
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
}
.elementor-70
  .elementor-element.elementor-element-36b9ecba
  .elementskit-section-subtitle.elementskit-style-border::before,
.elementor-70
  .elementor-element.elementor-element-36b9ecba
  .elementskit-section-subtitle.elementskit-style-border::after {
  height: 1px;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
}
.elementor-70
  .elementor-element.elementor-element-a7f09f1
  .eael-ninja-form
  .nf-error-wrap
  .nf-error-required-error {
  display: block !important;
}
.elementor-70
  .elementor-element.elementor-element-a7f09f1
  .eael-ninja-form
  .nf-form-errors
  .nf-error-field-errors {
  display: block !important;
}
.elementor-70
  .elementor-element.elementor-element-a7f09f1
  .eael-ninja-form
  .submit-container
  input[type="button"] {
  width: 130px;
}
@media (min-width: 768px) {
  .elementor-70 .elementor-element.elementor-element-3102d61c {
    width: 25%;
  }
  .elementor-70 .elementor-element.elementor-element-5846b151 {
    width: 75%;
  }
  .elementor-70 .elementor-element.elementor-element-66a2214f {
    width: 25%;
  }
  .elementor-70 .elementor-element.elementor-element-19fe9413 {
    width: 75%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-70 .elementor-element.elementor-element-3102d61c {
    width: 100%;
  }
  .elementor-70 .elementor-element.elementor-element-5846b151 {
    width: 100%;
  }
  .elementor-70 .elementor-element.elementor-element-66a2214f {
    width: 100%;
  }
  .elementor-70 .elementor-element.elementor-element-19fe9413 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-70
    .elementor-element.elementor-element-51643189
    .elementor-spacer-inner {
    height: 800px;
  }
  .elementor-70
    .elementor-element.elementor-element-58a95d22
    .elementor-spacer-inner {
    height: 750px;
  }
  .elementor-70 .elementor-element.elementor-element-42ab8cf6 {
    margin-top: -750px;
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-70
    .elementor-element.elementor-element-51643189
    .elementor-spacer-inner {
    height: 500px;
  }
  .elementor-70
    .elementor-element.elementor-element-58a95d22
    .elementor-spacer-inner {
    height: 780px;
  }
  .elementor-70 .elementor-element.elementor-element-42ab8cf6 {
    margin-top: -780px;
    margin-bottom: 0px;
  }
}
